:host {
    font-size: 16px;
    color: #eee;
    cursor: pointer;
    width: 100%;
}

.menu-item {
    padding: 10px 6px 10px 4px;
    transition: all 0.2s ease;
    text-align: center;
}

:host:hover {
    transform: scale(1.05);
    background-color: #f55418;
}

.icon {
    top: -2px;
    position: relative;
    margin-right: 4px;
}

.icon img {
    width: 22px;
    height: 22px;
}

.active {
    outline: none;
    transform: scale(1.05);
    background-color: rgba(247, 58, 58, 0.8);
}
