<div class="view_table_wrapper">
  <table class="view_table">
    <caption>{{caption}}</caption>
    <thead>
      <tr class="view_row">
        <th class="view_elem" *ngFor="let item of header; let i = index">
          <div class="view_elem_wrapper" (click)='sort(i, item.description)'>
            <img src="src/imgs/arrow.svg" alt="logo" [ngClass]="{'active_sorded': sorted.index == i, 'svg_rotate': sorted.type == 'desc' && sorted.index == i}">
            <span>{{item.name}}</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="group_row" *ngFor="let elem of rows; let i = index" (click)="getInfoDay(i)">
      <layout-table-elem [elem]="elem"></layout-table-elem>
      <layout-table-detail *ngIf="elem.active" [elem]="elem"></layout-table-detail>
    </tbody>
  </table>
</div>
