<layout-search (update)='getForecast($event)' [city]='city' [errorMessage]='errorMessage'></layout-search>
<div *ngIf="data_city">
    <div>
        Город: {{data_city.city.name}}, {{data_city.city.country}}
    </div>
    <div>
        Восход: {{(data_city.city.sunrise) * 1000 | date:'dd-MM-yy HHw:mm z'}}
    </div>
    <div>
        Закат: {{(data_city.city.sunset) * 1000 | date:'dd-MM-yy HH:mm z'}}
    </div>
    <layout-table [header]='header_table' [rows]='data_city.list'></layout-table>
</div>
